language: android

jdk:
 - oraclejdk8

env:
  global:
    - ADB_INSTALL_TIMEOUT=10 # Wait up to 10 minutes for adb to connect to emulator

android:
  components:
    - tools
    - build-tools-24
    - android-24
    - extra-android-support
    - extra-google-m2repository
    - extra-android-m2repository
    - sys-img-armeabi-v7a-android-19

before_script:
  - echo no | android create avd --force -n test -t android-19 --abi armeabi-v7a
  - emulator -avd test -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell settings put global window_animation_scale 0 &
  - adb shell settings put global transition_animation_scale 0 &
  - adb shell settings put global animator_duration_scale 0 &
  - adb shell input keyevent 82 &

script:
  - ./gradlew checkstyle build connectedCheck