<?xml version="1.0" encoding="utf-8"?>
<manifest package="es.npatarino.android.gotchallenge"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".GotChallengeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".common.ui.activities.DetailActivity"
            android:parentActivityName=".common.ui.activities.HomeActivity">
        </activity>
        <activity
                android:name=".chat.ui.ChatActivity"
                android:windowSoftInputMode="stateVisible|adjustResize"
                android:parentActivityName=".common.ui.activities.HomeActivity">
        </activity>
        <activity
            android:name=".common.ui.activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
